
body {
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png);
    background-repeat: repeat;
    font-family:serif,'Times New Roman', Times;
}

div {
    height: auto;
}
    height: 0px;

.heading {
    text-align: center;       
}

a{
    color: black;
    text-align: center;
}

p {
    width: 1000px;
}

li {
    width: 800px;
}

